<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<authentication>
				<basicAuthentication enabled="false" />
			</authentication>
		</security>
		<httpRedirect enabled="false">
			<clear />
		</httpRedirect>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-Powered-By" value="ASP.NET" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
